button.number{
    width:100%;
    padding:0;
    border-radius: 25px;
    margin-right:-2px !important;
    margin-left:-2px !important;
    font-size:170%;
    border:none;
    background:#f8f8f8;
    //box-shadow: 2px 0 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 0 0.0625em #cbcbcb;
    background: linear-gradient(#ddd, #f4f4f4) content-box, radial-gradient(#ededed, rgba(222, 222, 222, 0)) 50% 100%/80% 0.125em no-repeat border-box, linear-gradient(#f4f4f4, #c9c9c9) border-box;
    border: solid 0.125em transparent;
}

button.number.symbol{
    font-size:220%;
    font-weight:normal;
}

button.number.top-rw{
    background:#aaa !important;
    box-shadow: 0 0 0 0.0625em #ddd;
    background: linear-gradient(#eee, #ddd) content-box, radial-gradient(#ddd, rgba(222, 222, 222, 0)) 50% 100%/80% 0.125em no-repeat border-box, linear-gradient(#f8f8f8, #ddd) border-box !important;
    border: solid 0.125em transparent;
}

button.number.side-cl{
    background:#fc6;
    font-size:250%;
    box-shadow: 0 0 0 0.0625em #fc6;
    background: linear-gradient(orange, #fc6) content-box, radial-gradient(#fc6, rgba(222, 222, 222, 0)) 50% 100%/80% 0.125em no-repeat border-box, linear-gradient(#fc6, orange) border-box;
    border: solid 0.135em transparent;
    color:#232323;
}

.btn-outer{
    padding:5px;
}

button.number::before{
    content: "";
    position: absolute;
    height:75%;
    //background-image: radial-gradient(transparent, rgba(0,0,0,0.05));
    width:75%;
    left:10%;
    top:13%;
    border-radius:30px;
    //box-shadow: 2px 0 25px 0 rgba(0,0,0,0.05);
    
}

button.number.side-cl::before{
    
}

button.number.double-btn::before{
    content: "";
    width:87%;
    left:5%;
    top:10%;
}

#outer-container{

}

@media only screen and (max-width: 700px){
    #outer-container{
        width:100%;
    }
}

@media only screen and (min-width: 1080px){
    #outer-container{
        max-width:300px;
    }
}
